<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap5.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />
  <title>FINANZAS</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

      <nav class="navbar navbar-dark">
      </nav>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacto">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <center>
    <div class="container">
      <h5><i frame>UGEL PACASMAYO</i></h5>
      <h1><i frame>MODULO PRESUPUESTAL</i></h1>

      <div id="comp-jfyj6d0m" class="JdPQA">
        <div class="_20e9D" data-testid="container-bg"></div>
        <div data-mesh-id="comp-jfyj6d0minlineContent" data-testid="inline-content" class="">
          <div data-mesh-id="comp-jfyj6d0minlineContent-gridContainer" data-testid="mesh-container-content">
            <div id="comp-jfyj6d37" class="_1Q9if _3bcaz" data-testid="richTextElement">
              <h1 class="font_0" style="font-size:16px; text-align:center;"><span style="font-size:16px;"><span
                    style="color:#140505;">AREA DE GESTIÓN INSTITUCIONAL - FINANZAS</span></span></h1>
            </div>
          </div>
        </div>
      </div>



    </div>


    <img
      src="https://static.wixstatic.com/media/cebe37_29b111770bae4317bb88c3f8990f2df4~mv2.png/v1/fill/w_241,h_125,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/cebe37_29b111770bae4317bb88c3f8990f2df4~mv2.png"
      alt="" style="width:241px;height:125px;object-fit:cover"
      srcset="https://static.wixstatic.com/media/cebe37_29b111770bae4317bb88c3f8990f2df4~mv2.png/v1/fill/w_241,h_125,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/cebe37_29b111770bae4317bb88c3f8990f2df4~mv2.png 1x, https://static.wixstatic.com/media/cebe37_29b111770bae4317bb88c3f8990f2df4~mv2.png/v1/fill/w_482,h_250,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/cebe37_29b111770bae4317bb88c3f8990f2df4~mv2.png 2x"
      fetchpriority="high">






    <div id="comp-jfyj0r74" class="u6LZO">
      <div data-testid="linkElement" class="_31hZA">
        <wix-image id="img_comp-jfyj0r74" class="_1-6YJ -sXIe"
          data-image-info="{&quot;containerId&quot;:&quot;comp-jfyj0r74&quot;,&quot;targetWidth&quot;:171,&quot;targetHeight&quot;:179,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:418,&quot;height&quot;:532,&quot;uri&quot;:&quot;cebe37_b2a875992f1f4c46b9fa84aad86ef363~mv2.jpg&quot;,&quot;name&quot;:&quot;img7.jpg&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;crop&quot;:{&quot;x&quot;:0,&quot;y&quot;:47,&quot;width&quot;:418,&quot;height&quot;:438}}}"
          data-bg-effect-name="" data-has-ssr-src=""
          data-src="https://static.wixstatic.com/media/cebe37_b2a875992f1f4c46b9fa84aad86ef363~mv2.jpg/v1/crop/x_0,y_47,w_418,h_438/fill/w_171,h_179,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/img7.jpg">
          <img
            src="https://static.wixstatic.com/media/cebe37_b2a875992f1f4c46b9fa84aad86ef363~mv2.jpg/v1/crop/x_0,y_47,w_418,h_438/fill/w_171,h_179,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/img7.jpg"
            alt="img7.jpg" style="width: 171px; height: 179px; object-fit: cover; object-position: 50% 50%;">
        </wix-image>
      </div>

    </div>
    <div id="comp-jfyj0r79" class="_1Q9if _3bcaz" data-testid="richTextElement">
      <p class="font_8" style="font-size:17px; text-align:center;"><span style="font-size:17px;"><span
            style="font-family:kelly slab,fantasy;"><span style="font-weight:bold;">Rosina Vargas
              Benites</span></span></span></p>
    </div>

    <div id="comp-jfyj0r7e" class="_2Hij5 _3bcaz" data-testid="richTextElement">
      <p class="font_8" style="font-size:14px; line-height:1.3em; text-align:center;"><span
          style="letter-spacing:normal;"><span style="font-size:14px;"><span style="color:#000000;"><span
                style="font-family:helvetica-w01-light,helvetica-w02-light,sans-serif;">Financista
                I</span></span></span></span></p>

      <p class="font_8" style="font-size:14px; line-height:1.3em; text-align:center;"><span
          style="letter-spacing:normal;"><span class="wixGuard">&ZeroWidthSpace;</span></span></p>
    </div>
  </center>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>


</body>

</html>