<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap5.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />
  <title>FINANZAS-RVB</title>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://x3dom.org/download/dev/x3dom-full.js"></script>
  <link rel="stylesheet" href="https://x3dom.org/download/dev/x3dom.css" />
  <script src="https://raw.githack.com/jamesleesaunders/d3-x3d/master/dist/d3-x3d.js"></script>
  <style>
    #chartholder {
      width: 100%;
      height: 800px;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

      <nav class="navbar navbar-dark">
      </nav>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacto">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container">
    <a href="/create" class="btn btn-primary mt-4"><i class="fas fa-plus-square"></i></a>
    <table id="finanzas_1" class="table table-bordered table-striped text-center mt-2">
      <thead>
        <tr class="text-white" style="background-color:#020103;">
          <th scope="col">ID</th>
          <th scope="col">RECURSOS ORDINARIOS</th>
          <th scope="col">CERTIFICADO</th>
          <th scope="col">COMPROMISO</th>
          <th scope="col">DEVENGADO</th>
          <th scope="col">ACCIONES</th>
        </tr>
      </thead>
    </table>
    <div style="display:flex; justify-content: center;">
      <div id="chartholder"></div>
    </div>
    <a href="/create_finanzas2" class="btn btn-primary mt-4"><i class="fas fa-plus-square"></i></a>
    <table id="finanzas_2" class="table table-bordered table-striped text-center mt-2">
      <thead>
        <tr class="text-white" style="background-color:#020103;">
          <th scope="col">ID</th>
          <th scope="col">RUBRO</th>
          <th scope="col">TECHO</th>
          <th scope="col">CERTIFICADO</th>
          <th scope="col">COMPROMISO</th>
          <th scope="col">DEVENGADO</th>
          <th scope="col">ACCIONES</th>
        </tr>
      </thead>
      <!-- <tbody>       
        </tbody> -->
    </table>

  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" language="javascript"
    src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript"
    src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap5.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

  <script>
    //const datos = <%- JSON.stringify(data) %>;
    //console.log(datos);
    $('#finanzas_1').DataTable({
      ajax: {
        url: "/data",
        dataSrc: ""
      },
      columns: [
        { 'data': "id" },
        { 'data': 'recursos_ordinarios' },
        { 'data': 'certificado' },
        { 'data': 'compromiso' },
        {
          'data': 'devengado'
        },
        {
          "data": null,


          "render": function (data) {
            return '<a href="/edit/' + data.id + '"class="btn btn-info"><i class="fas fa-edit"></i></a><a onclick="confirmar1(' + data.id + ')" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>'
          }
        }
      ],
      pageLength: 20,
      lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todos']]
    });


    function confirmar1(id) {
      Swal.fire({
        title: '¿Confirma eliminar el registro: ' + id + '?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#6c757d',
        confirmButtonText: 'Confirmar'
      }).then((result1) => {
        if (result1.isConfirmed) {
          window.location = '/delete/' + id;
        }
      });
    };
  </script>


  <script>
    //const datos = <%- JSON.stringify(data) %>;
    //console.log(datos);
    $('#finanzas_2').DataTable({
      ajax: {
        url: "/data2",
        dataSrc: ""
      },
      columns: [
        { 'data': "id" },
        { 'data': 'rubro' },
        { 'data': 'techo' },
        { 'data': 'certificado' },
        { 'data': 'compromiso' },
        {
          'data': 'devengado'
        },
        {
          "data": null,

          "render": function (data2) {
            return '<a href="/edit_finanzas2/' + data2.id + '"class="btn btn-info"><i class="fas fa-edit"></i></a><a onclick="confirmar2(' + data2.id + ')" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>'
          }
        }
      ],
      pageLength: 20,
      lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todos']]
    });


    function confirmar2(id) {
      Swal.fire({
        title: '¿Confirma eliminar el registro: ' + id + '?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#6c757d',
        confirmButtonText: 'Confirmar'
      }).then((result2) => {
        if (result2.isConfirmed) {
          window.location = '/delete2/' + id;
        }
      });
    };
  </script>

  <script>

    function abreviar(cadena) {
      var palabras = cadena.split(' ');
      var abreviatura = '';

      for (var i = 0; i < palabras.length; i++) {
        abreviatura += palabras[i].charAt(0);
      }

      return abreviatura.toUpperCase();
    }



    $.getJSON("/data", function (data) {

      // Select chartholder
      var chartHolder = d3.select("#chartholder");

      // Generate some data
      //var myData = d3.x3d.randomData.dataset2();
      var myData =
        data.map(item => {
          return {
            key: abreviar(item.recursos_ordinarios),
            values: [
              {
                "key": "Certificado",
                "value": parseFloat(item.certificado.replace(/,/g, ""))
              },
              {
                "key": "Compromiso",
                "value": parseFloat(item.compromiso.replace(/,/g, ""))
              },
              {
                "key": "Devengado",
                "value": parseFloat(item.devengado.replace(/,/g, ""))
              }
            ]
          }
        })


      console.log(myData)
      // Declare the chart component
      var myChart = d3.x3d.chart.barChartMultiSeries()
        .width(chartHolder.node().getBoundingClientRect().width)
        .height(chartHolder.node().getBoundingClientRect().height);

      // Attach chart and data to the chartholder
      chartHolder.datum(myData).call(myChart);






    })

  </script>

</body>

</html>